*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  margin-bottom: 0;
  display: inline-block;
  margin: 20px 10px 0px 10px;

}
button{
  outline: none;
  border: none;
  background-color: blueviolet;
  color: white;
  padding: 10px;
}